# ------------ APP DEFAULTS ----------------
PORT=4000
NODE_ENV=development
APP_URL=http://localhost:3000
API_URL=http://localhost:4000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/template?schema=public&connection_limit=20"
ADD_QUEUE_TO_ACTION=true
REDIS_INTEGRATION_TESTS=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_FAMILY=0

BULLMQ_HOST=localhost
BULLMQ_PORT=6379
BULLMQ_PASSWORD=
BULLMQ_USERNAME=
BULLMQ_FAMILY=0

RESEND_API_KEY=resendkey

# -------------------- AUTHENTICATION ---------------------
ACCESS_TOKEN_SECRET=fiQ$cCEbzrSp4
REFRESH_TOKEN_SECRET=m*5XZNi7&gmi9ci
SESSION_TTL_SECONDS=16000
OTP_EXPIRES_IN_MINUTES=10

GITHUB_CLIENT_ID=clientid
GITHUB_CLIENT_SECRET=secret


GITHUB_REDIRECT_URL=http://google.com
GITHUB_REQUEST_IDENTITY_URL=https://github.com/login/oauth/authorize
GITHUB_REQUEST_TOKEN_URL=https://github.com/login/oauth/access_token


GOOGLE_REDIRECT_URL=https://your_ngrok_url/api/v1/auth/google/callback

GOOGLE_REQUEST_IDENTITY_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
GOOGLE_REQUEST_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_CLIENT_ID=clientid
GOOGLE_CLIENT_SECRET=secret

#  -------------------- STORAGE ---------------------
R2_ACCESS_KEY_ID=access-key-id
R2_ACCESS_KEY=access-key
R2_ENDPOINT_URL=https://templateaccountid.r2.cloudflarestorage.com
R2_DEFAULT_APP_BUCKET=template
R2_BASE_URL=https://pub-some-id.r2.dev

# ----------------- MODELS -------------------
GOOGLE_GEMINI_API_KEY=someapikey
